/* styles.css */
body {
    background-image: url(https://plus.unsplash.com/premium_photo-1673306778968-5aab577a7365?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8fHww);
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #99925660;
    border: 1px solid #39602b83;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(4, 4, 4, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #9cb89d;
    color: #263b33;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button {
    background-color: #0c1201;
    color: #a09f55;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #e3f051;
}


#resume-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1a1c15;
    border: 1px solid #1c0404;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume-section {
    margin-bottom: 20px;
}

.resume-section h2 {
    margin-top: 0;
}

.resume-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.resume-section li {
    margin-bottom: 10px;
}

.resume-section li::before {
    content: "\2022";
    font-weight: bold;
    font-size: 1.5em;
    color: hsla(60, 5%, 4%, 0.957);
    margin-right: 10px;
}